<!DOCTYPE html>
<html lang="en">
<head >
  <meta charset="UTF-8">
  <title>Groupify</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
</head>
<body>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style ="margin: 0px; padding: 0;">
    <div class="container-fluid " style =" margin: 0px; padding: 0px; white-space: nowrap;">
        <div class="col-2"><h1><a class="logo" href="../" style="color: #84bd00; text-decoration: none;">Groupify</a></h1>
          <div id="room-id" style="color:white">Room ID: <%= roomId %></div>
        </div>
        <div class="col-2" style="padding: 0;">
          <div class="btn-group btn-group-lg" role="group" aria-label="group">
            <button id="play-btn" class="btn btn-outline-success" type="button">Play</button>
            <button id="pause-btn" class="btn btn-outline-success" type="button">Pause</button>
            <button id="previous-btn" class="btn btn-outline-success" type="button">Previous</button>
            <button id="next-btn" class="btn btn-outline-success" type="button">Next</button>
            <button id="test-btn" class="btn btn-outline-success" type="button">Test</button>
          </div>
          <div>
            <label style="color:white" class="checkbox-inline"><input id="duplicate" type="checkbox" value="">Duplicates</label>
          </div>
        </div>
          <div id="col-8 custom-search-input" style="padding: 10px;">
              <div class="input-group input-group-lg">
                  <input id="search-input" type="text" class="search-query form-control " placeholder="Song Name,Artist,or both" />
                  <div class="input-group-append">
                    <button id="search-btn" class="btn btn-success" type="button" >Search</button>
                  </div>
              </div>
          </div>
          </div>

      </div>
</nav>


      <div class="col-12" style="background-color:lightgray; min-height: 800px; padding: 0px" >
          <div class="container-fluid" >
           <div id="search-result" class="row">
           </div>
         </div>
      </div>

  <script>
  var player;
  window.onSpotifyWebPlaybackSDKReady = () => {
    $.post("/host/accessToken", {roomId: '<%= roomId %>'}, function(data) {
      const token = data;
      player = new Spotify.Player({
        name: 'Groupify',
        getOAuthToken: cb => { cb(token); }
      });
      player.connect();
    });
  };

  (function($) {
    var duplicates = false;

    $("#search-btn").click(function() {
      $.post("/join/searchTrack", {trackSearch: $('#search-input').val()}, function(data) {
        // Reset results
        $('#search-result').replaceWith(`<div id="search-result" class="row"></div>`);
        // No search results
        if(data.length == 0) {
          $('#search-result').append(`<h4>No results found :(</h4>`);
        } else {
          data.forEach(function(tracks) {
            const songName = tracks.name;
            const albumName = tracks.album.artists[0].name;
            const songLink = tracks.album.artists[0].external_urls.spotify;
            const imgURL = tracks.album.images[0].url;
            $('#search-result').append(
              `<div class="col-3"style="styles.gallery.hover;padding:10px 0px 10px 7px;background-color:lightgray">
                <a target="_blank" href="${imgURL}">
                <img
                  src="${imgURL}"
                  class="img-thumbnail"
                  alt="${songName}"
                  width="300"
                  height="300"
                  style="styles.gallery.img;"
                  />
                </a>
              <div style="styles.desc">${songName} - ${albumName}</div>
              <a href="${songLink}"><button type="button" class="btn btn-success">Play</button></a>
              <button type="button" class="btn btn-outline-success queue" id=${tracks.id}>Add</button>
              </div>`
             /* `<div class="col-12">
                <img src="${imgURL}" alt="${songName}">
                <a href="${songLink}"><button type="button" class="btn btn-success">${songName} - ${albumName}</button></a>
                <button type="button" class="btn btn-outline-success queue" id=${tracks.id}>Add to queue</button>
              </div>` */
            );
          })
        }
      });
    });

    $('#duplicate').change(function() {
      var duplicates = false;
      if(this.checked) {
        duplicates = true;
      } else {
        duplicates = false;
      }
      $.post("/host/duplicates", {trackId: this.id, roomId: '<%= roomId %>', duplicates}, function(data) {

      });
    });

    $("test-btn").click(function() {
      $.ajax({
        url: 'host/getQueue',
        type: 'POST',
        data: {roomId: '<%= roomId %>'}
      });
    });

    $(document).on("click", ".queue", function(event){
      $.post("/join/addToQueue", {trackId: this.id, roomId: '<%= roomId %>'}, function(data) {

      });
    });

    $(document).on("keypress", "#search-input", function(e) {
      if (e.which == 13) {
          $('#search-btn').click();
      }
    });

    $(window).on('beforeunload ',function() {
      $.ajax({
          type: "POST",
          url: "host/closeRoom",
          data: {roomId: '<%= roomId %>'},
          async: false,
      });
    });

    $("#play-btn").click(function() {
      $.ajax({
        url: 'host/play',
        type: 'POST',
        data: {roomId: '<%= roomId %>'}
      });
    });


    $("#pause-btn").click(function() {
      $.ajax({
        url: 'host/pause',
        type: 'PUT',
        data:'roomId=<%= roomId %>'
      });
    });

    $("#previous-btn").click(function() {
      player.previousTrack().then(() => {
        console.log('Previous Song!');
      });
    });

    $("#next-btn").click(function() {
      player.nextTrack().then(() => {
        console.log('Next Song!');
      });
    });

    $("#test-btn").click(function() {
      $.post("/host/getQueue", {roomId: '<%= roomId %>'}, function(data) {

      });

      // $.post("/host/getUserCount", {roomId: '<%= roomId %>'}, function(data) {
      //
      // });
    });
  })(jQuery);
  </script>
</body>
</html>
