<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Groupify</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
</head>
<body>
  <div class="container">
  	<div class="row">
  	    <div class="col-12"><h1><a href="../" style="color: #84bd00; text-decoration: none;">Groupify</a><h1></div>
  	    <div class="col-12">
          <div id="room-id">Room ID: <%= roomId %></div>
          <button id="play-btn" class="btn btn-outline-secondary" type="button">Play</button>
          <button id="pause-btn" class="btn btn-outline-secondary" type="button">Pause</button>
          <button id="next-btn" class="btn btn-outline-secondary" type="button">Next Track</button>
          <button id="previous-btn" class="btn btn-outline-secondary" type="button">Previous Track</button>
          <div id="custom-search-input">
              <div class="input-group">
                  <input id="search-input" type="text" class="search-query form-control" placeholder="Song Name, Artist, or both" />
                  <div class="input-group-append">
                    <button id="search-btn" class="btn btn-outline-secondary" type="button">search</button>
                  </div>
              </div>
          </div>
        </div>
  	</div>

    <div class="row">
      <div class="col-12">
          <div class="container">
           <div id="search-result" class="row">

           </div>
         </div>
      </div>
    </div>
  </div>

  <script>
  var player;
  window.onSpotifyWebPlaybackSDKReady = () => {
    $.post("/host/accessToken", {roomId: '<%= roomId %>'}, function(data) {
      const token = data;
      player = new Spotify.Player({
        name: 'Groupify',
        getOAuthToken: cb => { cb(token); }
      });
      player.connect();
    });
  };

  (function($) {
    $("#search-btn").click(function() {
      $.post("/join/searchTrack", {trackSearch: $('#search-input').val()}, function(data) {
        // Reset results
        $('#search-result').replaceWith(`<div id="search-result" class="row"></div>`);

        // No search results
        if(data.length == 0) {
          $('#search-result').append(`<h4>No results found :(</h4>`);
        } else {
          data.forEach(function(tracks) {
            const songName = tracks.name;
            const albumName = tracks.album.artists[0].name;
            const songLink = tracks.album.artists[0].external_urls.spotify;
            const imgURL = tracks.album.images[1].url;
            $('#search-result').append(
              `<div class="col-12">
                <img src="${imgURL}" alt="${songName}">
                <a href="${songLink}"><button type="button" class="btn btn-success">${songName} - ${albumName}</button></a>
                <button type="button" class="btn btn-outline-success queue" id=${tracks.id}>Add to queue</button>
              </div>`
            );
          })
        }
      });
    });

    $(document).on("click", ".queue", function(event){
      $.post("/join/addToQueue", {trackId: this.id, roomId: '<%= roomId %>'}, function(data) {

      });
    });

    $(document).on("keypress", "#search-input", function(e) {
      if (e.which == 13) {
          $('#search-btn').click();
      }
    });

    $(window).on('beforeunload ',function() {
      $.ajax({
          type: "POST",
          url: "host/closeRoom",
          data: {roomId: '<%= roomId %>'},
          async: false,
      });
    });

    $("#play-btn").click(function() {
      $.ajax({
        url: 'host/play',
        type: 'POST',
        data: {roomId: '<%= roomId %>'}
      });
    });


    $("#pause-btn").click(function() {
      $.ajax({
        url: 'host/pause',
        type: 'PUT',
        data:'roomId=<%= roomId %>'
      });
    });

    $("#previous-btn").click(function() {
      player.previousTrack().then(() => {
        console.log('Previous Song!');
      });
    });

    $("#next-btn").click(function() {
      player.nextTrack().then(() => {
        console.log('Next Song!');
      });
    });
  })(jQuery);
  </script>
</body>
</html>
